@charset "UTF-8";
.nav-container {
  background-color: rgb(15, 15, 15);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 5px black;
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* NAV-MOBİL */
}
@media (max-width: 900px) {
  .nav-container {
    padding: 0 1rem;
  }
}
.nav-container .left-logo {
  width: 200px;
}
@media (max-width: 900px) {
  .nav-container .left-logo {
    width: 150px;
  }
}
.nav-container .nav-logo {
  margin-left: 7rem;
  width: 100px;
}
@media (max-width: 900px) {
  .nav-container .nav-logo {
    display: none;
  }
}
.nav-container .nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  .nav-container .nav-links {
    display: none;
  }
}
.nav-container .nav-links li {
  position: relative;
  margin: 1rem;
  font-size: 1.1rem;
  color: white;
}
.nav-container .nav-links li:hover {
  cursor: pointer;
  color: rgb(204, 176, 40);
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
.nav-container .nav-links li .fav-badge {
  position: absolute;
  top: -20px;
  right: -16px;
  border-radius: 100%;
  width: 30px;
  height: 26px;
  background-color: rgb(196, 95, 95);
  color: white;
  font-size: 1.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}
.nav-container .nav-links .active-link {
  color: rgb(204, 176, 40);
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
.nav-container input[type=checkbox] {
  display: none;
}
.nav-container label {
  display: none;
}
@media (max-width: 900px) {
  .nav-container label {
    display: block;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
.nav-container .dropdown {
  display: none;
  position: absolute;
  width: 150px;
  text-align: center;
  right: 5px;
  top: 80px;
  background-color: rgb(15, 15, 15);
  list-style-type: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 9999;
  box-shadow: 0 0 10px black;
}
.nav-container .dropdown li {
  position: relative;
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.nav-container .dropdown li:hover {
  background-color: rgb(49, 48, 48);
  color: rgb(204, 176, 40);
  padding: 1rem;
}
.nav-container .dropdown li .fav-badge {
  position: absolute;
  top: -5px;
  right: 15px;
  border-radius: 100%;
  width: 30px;
  height: 26px;
  background-color: rgb(196, 95, 95);
  color: white;
  font-size: 1.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}
.nav-container .dropdown .active-link {
  color: rgb(204, 176, 40);
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
.nav-container .dropdown-active {
  display: block;
}
@media (min-width: 900px) {
  .nav-container .dropdown-active {
    display: none;
  }
}/*# sourceMappingURL=Navbar.css.map */